$color-bg-1: rgba(30, 9, 6, 0.15);
$color-bg-2: #3F3F3F;
$color-bg-btn-1: #C1C1C1;
$color-bg-btn-2: #E27F00;
$color-bg-btn-2-hvr: #FFA839;
$color-bg-btn-2-active: #DA8B26;
$color-text-btn: #ffffff;
$color-text-main: #000000;
$color-text-index: #F20505;
$color-text-1: #474747;
$color-text-2: #585757;
$color-border-inputs: #9F9E9E;
$color-border-items: #DDDADA;
$color-star: #FFD168;
$color-bg-overlay: rgba(88, 87, 87, 0.6);
$font-family-regular: 'Droid Sans', 'Arial', sans-serif;
$font-family-bold: 'Droid Sans Bold', 'Arial', sans-serif;
$width-desktop: 1020px;
